* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #111;
  color: white;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

html,body {
  height: 100%;
  width: 100%;
}

.parentCard{
  padding: 10px 100px;
  gap: 40px;
  display: flex;
  flex-wrap: wrap;
}

.card{
    height: 250px;
    width: 220px;
    border-radius: 10px;
    background-color: #fff;
}

h1{
  text-align: center;
  width: 100%;
}

.card img{
  height: 90%;
  width: 100%;
  object-fit: cover;
}

.cardContainer{
  display: flex;
}

.authorSpan{
  background-color: #fff;
  color: lightslategrey;
  position: relative;
  left: 40px;
  font-size: 12px;
}

